/*this is external file*/
body
{
    border:gray;
    margin:200px;
}
h1{
    text-align:center;
    background-color:gray
}
fieldset
{
    background-color:bisque;
}
legend
{
    background-color:aliceblue;
    cursor: pointer;
}
input[type=submit]
{
    cursor: pointer;
}
